<template name="day">
  <div class="row">
    <h4 id="date">
      <button class="u-pull-left" id="prev-day">&lt;</button>
      <button class="u-pull-left {{#if dateIs 'today'}}button-primary{{/if}}" id="today">Today</button>
      <span>{{currentDate}}'s Work</span>
      <button class="u-pull-right" id="next-day">&gt;</button>
      <button class="u-pull-right {{#if dateIs 'tomorrow'}}button-primary{{/if}}" id="tom"><b>Tom</b></button>
    </h4>
  </div>

  <div class="row">
    <b id="status">{{completedCount}} out of {{totalCount}} completed</b>
    {{> addAssignment}}
    <hr>
  </div>

  <div class="row homework">
      {{#each s in subjects}}
        {{#if subjectHasHW @index}}
          <div class="four columns">
            <b class="subject">{{s}}</b>
            <ol>
              {{#each forSubject @index}}
                <li>{{> assignment}}</li>
              {{/each}}
            </ol>
          </div>
        {{/if}}
      {{/each}}

  </div>
</template>
