<template name="day">
  <div class="row">
    <h4 id="date">
      <button id="prev-day">&lt;</button>
      <span>{{currentDate}}'s Work</span>
      <button id="next-day">&gt;</button>
    </h4>
  </div>

  <div class="row">
    <b id="status">{{completedCount}} out of {{totalCount}} completed</b>
    {{> addAssignment}}
    <hr>
  </div>

  <div class="row homework">

      {{#each s in subjects}}
        {{#if subjectHasHW @index}}
          <div class="four columns">
            <b class="subject">{{s}}</b>
            <ol>
              {{#each forSubject @index}}
                <li>{{> assignment}}</li>
              {{/each}}
            </ol>
          </div>
        {{/if}}
      {{/each}}

  </div>
</template>
