<template name="main">
  <main>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>Welcome to Lister!</h1>
          {{> loginButtons}}
          <hr>
        </div>
      </div>


      {{#if currentUser}}
        {{> day}}
      {{else}}
        Stop wasting your time with the Regis planner, it's <b>2016</b>!
      {{/if}}

      <div class="row footer">
        <hr>
        <div class="twelve columns">
          <small class="u-pull-left">Created by Frank Matranga of 2B-1</small>
          <small class="u-pull-right"><a href="https://github.com/Apexal/lister" target="blank">Source Code</a></small>
        </div>
      </div>
    </div>
  </main>
</template>
