main {
  text-align: center;
}

#status {
  color: grey;
}

.assignment.completed {
  text-decoration: line-through;
}
.remove-assignment {
  color: grey;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#date button {
  padding-left: 15px;
  padding-right: 15px;
}

.subject {
  font-size: 1.2em;
}

#description {
  /*max-width: 80%;*/
  width: 68%;
}

.toggle-completed {
  margin-bottom: 0;
}

.homework li {
  margin-bottom: 5px;
}

.footer {
  color: grey;
}

.footer hr {
  margin-bottom: 10px;
}

.homework {
  text-align: left;
}

.hwlist li {
  list-style: none;
}

.column, .columns {
    margin-left: 0 !important;
}
